/* multiculum cssでブロック間のスペースが気になるので調整 */
.markdown-rendered ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* margin: 1.2rem 0; */
  margin-block-start: 0.2rem !important;
  margin-block-end: 0.2rem !important;
}

/* リンクの下の下線の位置を調整 */
.markdown-source-view.mod-cm6 .cm-link .cm-underline {
  text-underline-offset: 6px;
}

.dataview-result-list-li,
.table-view-tbody {
  font-size: 1.1rem;
  text-underline-offset: 6px;
  line-height: 1.6;
}

.dataview .list-view-ul {
}

.internal-link {
  color: #aad0f0;
  text-decoration-color: #36424d;
  text-underline-offset: 4px;
}

.today {
  color: #b4c6ff !important;
}

/* timelineクラス内のdataviewテーブルにも同じスタイルを適用 */
.markdown-source-view.timeline .dataview.table-view-table {
  border-collapse: collapse;
  tbody {
    grid-row-gap: 0;
  }
  tr {
    border-radius: 0;
    border-color: #283038;
    padding-top: 8px;
    padding-bottom: 4px;
  }

  td > span > a[data-tooltip-position="top"] {
    font-size: 1.18rem;
  }
}

:root,
body,
.view-content {
  --nav-item-size: 1.02em;
  --line-height-tight: 1.2em; /* adjust line-height */
}
