/* multiculum cssでブロック間のスペースが気になるので調整 */
.markdown-rendered ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* margin: 1.2rem 0; */
  margin-block-start: 0.2rem !important;
  margin-block-end: 0.2rem !important;
}

/* リンクの下の下線の位置を調整 */
.markdown-source-view.mod-cm6 .cm-link .cm-underline {
  text-underline-offset: 6px;
}

.dataview-result-list-li,
.table-view-tbody {
  font-size: 1.1rem;
  text-underline-offset: 6px;
  line-height: 1.6;
}

.dataview .list-view-ul {
}

.internal-link {
  color: #aad0f0;
  text-decoration-color: #36424d;
  text-underline-offset: 4px;
}

.today {
  color: #b4c6ff !important;
}

div.timeline .table-view-table > .cards table.dataview tbody {
  grid-row-gap: 0;
}
